<ngb-carousel class="mt-4" [interval]="config?.carouselTime || 2000" aria-label="Last Post List">
  <ng-template *ngFor="let post of posts" ngbSlide>
    <div class="picsum-img-wrapper text-center">
      <img class="carousel-img" src="{{ post.image }}" alt="{{ post.title }}" />
    </div>
    <div class="carousel-caption">
      <h3>{{ post.title }}</h3>
      <p class="mb-0">
        {{ post.summary }}...&nbsp;
      </p>
      <a class="continue" [routerLink]="['/blog/posts', post.id]">continue to read </a>
    </div>
  </ng-template>
</ngb-carousel>