<div class="modal-header">
  <div class="search-input-group input-group ms-2 me-2">
    <input #search id="searchText" type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" (keyup)="onInput($event)">
    <div class="input-group-text form-label">
      <svg width="28" height="28" class="DocSearch-Search-Icon" viewBox="0 0 20 20">
        <path fill="currentColor" d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </div>
  </div>
</div>
<div class="modal-body">
  <div [hidden]="!show_search">
    <h3>What do you want to search?</h3>
    <p>
      <span class="text-danger">Please enter a phrase or keyword to search the blog.</span>
    </p>
  </div>
  <div [hidden]="!show_not_found">
    <p>
      <span class="text-danger">No results found.</span>
    </p>
  </div>
  <ul>
    <li *ngFor="let post of posts"><a routerLink="/blog/posts/{{ post.id }}" (click)="close()">{{ post.title }}</a></li>
  </ul>
</div>