.bd-search {
  position: relative;
}

@media (min-width: 992px) {
  .bd-search {
    position: absolute;
    top: .875rem;
    left: 50%;
    width: 200px;
    margin-left: -100px;
  }
}

@media (min-width: 1200px) {
  .bd-search {
    width: 280px;
    margin-left: -140px;
  }
}



.DocSearch-Button {
  align-items: center;
  background: var(--docsearch-searchbox-background);
  border: 0;
  border-radius: 40px;
  color: var(--docsearch-muted-color);
  cursor: pointer;
  display: flex;
  font-weight: 500;
  height: 36px;
  justify-content: space-between;
  margin: 0 0 0 16px;
  padding: 0 8px;
  user-select: none;
}

.DocSearch-Button {
  width: 100%;
  height: 38px;
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: .375rem;
}

.DocSearch-Button-Container {
  align-items: center;
  display: flex;
}

.DocSearch-Button .DocSearch-Search-Icon {
  opacity: .65;
}

.DocSearch-Button .DocSearch-Search-Icon {
  color: var(--docsearch-text-color);
}

svg.DocSearch-Search-Icon {
  width: 20px;
  height: 20px;
}

.DocSearch-Search-Icon {
  stroke-width: 1.6;
}

.DocSearch-Button-Keys {
  min-width: 0;
  padding: .125rem .25rem;
  background: rgba(0, 0, 0, 0.25);
  border-radius: .25rem;
}


.DocSearch-Button-Container {
  align-items: center;
  display: flex;
}

.DocSearch-Button-Placeholder {
  font-size: 1rem;
  padding: 0 12px 0 6px;
}

.DocSearch-Button:active,
.DocSearch-Button:focus,
.DocSearch-Button:hover {
  border-color: #ffe484;
}